.workspace {
    min-width: 8px;
    min-height: 8px;
    border-radius: 9999px;
    background-color: var(--accent-bg-color);

    transition: all 0.3s;
}

.workspace.active {
    min-width: 26px;
    background-color: var(--accent-color);
}

.bar {
    border-bottom: 0.5px solid alpha(var(--window-fg-color), 0.2);
}

.container {
    background-color: var(--card-bg-color);
    padding: 3px 5px;
    border-radius: 3px;
}

.box-10 {
    padding: 5px;
}